<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles/styleH.css" />
</head>
<body>
   
    <div class="containerHome">
    <h1>Welcome To SDEV305 Burger</h1>
    <form action="/order" method="get" id="orderbutton">
        <button type="submit">Create Order</button>
    </form><br>

    <form action="/order-summary" method="get" id="ordersummary">
        <button type="submit">Order Summary</button>
    </form><br>

    <img
    src="/images/Burgers2.jpg"
    alt="Classic Burger"
    width="700"
    height="500"
    />
    </div>

</body>
</html>